* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Flamenco', cursive;
}
h1, h2, ul, li, p, a, i {
  margin: 0;
  padding: 0;
  color: #fff;
}
h1 {
  letter-spacing: 0.05em;
  font-size: 2.75em;
  font-weight: 300;
}
h2 {
  letter-spacing: 0.05em;
  font-weight: 300;
  font-size: 1.4em;
  padding: 0.65em 0;
}
p {
  font-size: 16px;
}
a:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}
.card {
  padding-top: 5em;
  margin: 0 auto;
  width: 350px;
  text-align: center;
}
.bg-container {
  background-image: url('../img/jet-sky-min.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.icons {
  display: inline-block;
  padding-right: 0.75em;
}
.social-icons {
  margin-bottom: 1.5em;
}
.social-icons i {
  font-size: 1.5em;
}
.social-icons i:hover {
  color: rgba(28, 42, 47, 0.85);
}
