/** {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Flamenco', cursive;
}
h1, ul, li, p, a, i {
  margin: 0;
  padding: 0;
  color: #fff;
}
h1 {
  letter-spacing: 0.05em;
  font-size: 1.75em;
  font-weight: 300;
  padding-bottom: 0.5em;
}
h1 span {
  font-size: 0.75em;
}
a:focus {
  outline: 0px !important;
  -webkit-appearance: none;
}*/

/*.card {
  padding-top: 3em;
  padding-left: 3em;
}
.bg-container {
  background-image: url('../img/jet-sky-min.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.icons {
  display: inline-block;
  padding-right: 0.75em;
}
.social-icons {
  margin-bottom: 1em;
}
.social-icons i {
  font-size: 1.5em;
}*/
/*.social-icons i:hover {
  color: rgba(28, 42, 47, 0.85);
}
#presentation {
  cursor: pointer;
  font-size: 1.3em;
}*/

/*modal
.modal-content {
  padding: 20px;
}
.modal-header {
  border-bottom: none;
}
#contact-form h4 {
  font-size: 1.4em;
}
#contact-form-send:hover {
  background-color: rgba(28, 42, 47, 0.85);
  color: #fff;
}
@media screen and (max-width: 768px) {
  .container {
    background-image: url('../img/jet-sky-mobile.jpg');
  }
}
@media screen and (max-width: 415px) {
  span.break {
    display: none;
  }
  span.title {
    display: block;
    padding-top: 0.5em;
    font-size: 0.65em;
  }
}*/