$white: #ffffff;
$black: #000000;

body {
  margin: 0;
  font-family: 'Flamenco', cursive;
}
h1, h2, ul, li, p, a, i {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 27px;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  border-bottom: 1px solid $white;
}
.navbar {
  position: absolute;
  width: 100%;

  li {
    margin: 0 15px;
  }
  a {
    color: $white;
    font-size: 18px;
  }
}
section {
  padding: 30px 15px;
}

.container--sm {
  width: 450px;
  margin: 0 auto;
}



header {
  background-image: url('../img/bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
}

.intro,
.talks {
  text-align: center;
}

.intro,
.timeline {
  background-color: #F3F1F3;
}

.intro {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}


.timeline {
  padding-top: 0;
  .timeline__item {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    .img__wrapper {
      margin: 0 auto;
      position: relative;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid $black;
      margin-bottom: 6px;
    }
    img {
      width: 80px;
      height: 80px;
      padding: 10px;
    }
    i {
      font-size: 10px;
      margin-left: 5px;
    }
    &.last {
      margin: 0 auto;
      padding-left: 1px;
    }
  }
  .timeline__row {
    display: flex;
    justify-content: center;
    position: relative;
    span.line__box {
      position: absolute;
      top: 47%;
      width: 130px;
      border: 1px solid $black;
    }
    span.line {
      border: 1px solid $black;
      margin: 0 50px;
    }
    div:nth-of-type(odd) {
      span.line__box {
        right: -132px;
      }
    }
    div:nth-of-type(even) {
      span.line__box {
        left: -132px;
      }
    }
    .step__2 {
      margin-top: 70px;
    }
    .step__3 {
      margin-top: -50px;
    }
    .step__4 {
      margin-top: 40px;
    }
    .step__5 {
      margin-top: -60px;
    }
    @media (max-width: 480px) {
      display: block;
      div:nth-of-type(odd),
      div {
        width: auto;
        text-align: left;
        span {
          display: none;
        }
      }
      span {
        display: none;
      }
      .step__1,
      .step__2,
      .step__3,
      .step__4 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
  }
}

.talks {
  p {
    display: inline;
  }
}
.contact {
  h2 {
    text-align: center;
  }
  form {
    margin: 0 auto;
    width: 450px;
  }
}
footer {
  width: 100%;
  height: 50px;
  background-color: #283B41;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  p {
    color: $white;
  }
}