$white: #ffffff;
$black: #000000;
$border-color: #a89cc8;
$dark: #283B41;

body {
  margin: 0;
  font-family: 'Khula', sans-serif;
}
h1, h2, ul, li, p, a, i {
  margin: 0;
  padding: 0;
  color: $dark;
}
h1 {
  font-family: 'Flamenco', cursive;
  font-size: 40px;
}
h2 {
  font-size: 27px;
}
.btn {
  width: 90px;
  transition: all .4s;
  background-color: transparent;
  border-color: $dark;
  &:hover,
  &:focus {
    background-color: $border-color;
  }
}
.form-control:focus {
  border-color: $border-color;
}
.hidden {
  display: none;
}

section {
  padding: 40px 15px;
}

.container--sm {
  max-width: 450px;
  margin: 0 auto;
}

nav {
  position: absolute;
  width: 100%;
  div {
    max-width: 1100px;
    margin: 0 auto;
    a {
      float: right;
      margin: 20px;
      font-size: 20px;
    }
    i {
      color: $white;
      transition: all .4s;
      &:hover {
        color: $border-color;
      }
    }
  }
}



header {
  background-image: linear-gradient(to top, rgba(46, 49, 65, 0.3), rgba(46, 49, 65, 0.5)), url('../img/bg.jpg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
}

.intro,
.talks {
  text-align: center;
}

.intro {
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  p {
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
    line-height: 1.5;
    color: #000F3D;
  }
}


.timeline {
  padding-top: 0;
  .timeline__item {
    width: 250px;
    text-align: center;
    margin-bottom: 20px;
    .img__wrapper {
      margin: 0 auto;
      position: relative;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid $border-color;
      margin-bottom: 6px;
    }
    img {
      width: 80px;
      height: 80px;
      padding: 10px;
    }
    i {
      font-size: 10px;
      margin-left: 5px;
    }
    &.last {
      margin: 0 auto;
      padding-left: 1px;
    }
    @media (max-width: 640px) {
      border-bottom: 1px solid $border-color;
      padding-bottom: 30px;
      .img__wrapper {
        border: none;
      }
      img {
        padding: 0;
      }
      &.last {
        margin: 0;
        width: 100%;
      }
    }
  }
  .timeline__row {
    display: flex;
    justify-content: center;
    position: relative;
    span.line__box {
      position: absolute;
      top: 47%;
      width: 130px;
      border: 1px solid $border-color;
    }
    span.line {
      border: 1px solid $border-color;
      margin: 0 50px;
    }
    div:nth-of-type(odd) {
      span.line__box {
        right: -132px;
      }
    }
    div:nth-of-type(even) {
      span.line__box {
        left: -132px;
      }
    }
    .step__2 {
      margin-top: 70px;
    }
    .step__3 {
      margin-top: -50px;
    }
    .step__4 {
      margin-top: 40px;
    }
    .step__5 {
      margin-top: -60px;
    }
    @media (max-width: 640px) {
      display: block;
      div:nth-of-type(odd),
      div {
        width: 100%;
        // text-align: left;
        span {
          display: none;
        }
      }
      span {
        display: none;
      }
      .step__2,
      .step__3,
      .step__4,
      .step__5 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
  }
}

.talks {
  background-color: lightgrey;
  background-color: rgba(46, 49, 65, 0.2);
  p {
    margin: 5px 0;
  }
  a {
    font-size: 16px;
    font-weight: bold;
  }
}
.contact {
  padding-top: 60px;
  h2 {
    text-align: center;
  }
  form {
    margin: 20px 0 auto;
    width: 450px;
    @media (max-width: 480px) {
      width: 100%;
    }
  }
  .message {
    text-align: center;
    margin-top: 20px;
  }
}
footer {
  width: 100%;
  height: 50px;
  background-color: $dark;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 15px;
  p {
    color: $white;
  }
}