$white: #ffffff;
$black: #000000;

// * {
//   box-sizing: border-box;
// }
body {
  margin: 0;
  font-family: 'Flamenco', cursive;
}
h1, h2, ul, li, p, a, i {
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 27px;
}
a {
  color: $white;
  font-size: 18px;
}
.nav>li>a:focus, .nav>li>a:hover {
  background-color: transparent;
  border-bottom: 1px solid $white;
}
.navbar {
  position: absolute;
  width: 100%;

  li {
    margin: 0 15px;
  }
}
section {
  padding: 30px 15px;
}



header {
  background-image: url('../img/jet-sky-min.jpg');
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: $white;
  }
}

.intro {
  text-align: center;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}


.timeline {
  .timeline__item {
    position: relative;
    width: 250px;
    text-align: center;
    margin-bottom: 60px;
    img {
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border: 2px solid $black;
      padding: 10px;
      margin-bottom: 6px;
    }
  }
  .timeline__row {
    display: flex;
    justify-content: center;
    position: relative;
    div {
      // width: 350px;
      // position: relative;
    }
    span.line__box {
      position: absolute;
      top: 24%;
      width: 130px;
      border: 1px solid $black;
    }
    span.line {
      border: 1px solid $black;
      margin: 0 50px;
    }
    span.circle {
      display: inline-block;
      background-color: $black;
      height: 10px;
      width: 10px;
      border-radius: 10px;
      position: absolute;
      top: 46%;
    }
    div:nth-of-type(odd) {
      // text-align: right;
      span.line__box {
        right: -50px;
      }
      span.circle {
        right: -56px;
      }
    }
    div:nth-of-type(even) {
      // text-align: left;
      span.line__box {
        left: -50px;
      }
      span.circle {
        left: -56px;
      }
    }
    .step__1 {
      margin-top: 25px;
    }
    .step__2 {
      margin-top: 100px;
    }
    .step__3 {
      margin-top: -30px;
    }
    .step__4 {
      margin-top: 90px;
      margin-bottom: 30px;
    }
    @media (max-width: 480px) {
      display: block;
      div:nth-of-type(odd),
      div {
        width: auto;
        text-align: left;
        span {
          display: none;
        }
      }
      span {
        display: none;
      }
      .step__1,
      .step__2,
      .step__3,
      .step__4 {
        margin-top: 0px;
        margin-bottom: 30px;
      }
    }
  }
}